
.type-Poison{
    background: #9141CB !important;
}
.type-Insecte{
    background: #91A119 !important;
}
.type-Dragon{
    background: #5060E1 !important;
}
.type-Fée{
    background: #EF70EF !important;
}
.type-Vol{
    background: #81B9EF !important;
}
.type-Plante{
    background: #3FA129 !important;
}
.type-Glace{
    background: #3FD8FF !important;
}
.type-Normal{
    background: #9FA19F !important;
}
.type-Psy{
    background: #EF4179 !important;
}
.type-Roche{
    background: #AFA981 !important;
}
.type-Acier{
    background: #60A1B8 !important;
}
.type-Combat{
    background: #FF8000 !important;
}
.type-Feu{
    background:#E62829 !important;
}
.type-Sol{
    background: #915121 !important;
}
.type-Électrik{
    background: #FAC000 !important;
}
.type-Eau{
    background:#2980EF  !important;
}
.type-Spectre{
    background: #704170 !important;
}
.type-Ténèbres{
    background: #50413F !important;
}
.linkHover:hover{
    background: #3FA129 !important;
    color: #2980EF;
    cursor: grab;
}